name: Frontend CI

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        working-directory: frontend
        run: npm i
      - name: Check Prettier formatting
        working-directory: frontend
        run: npm run format:check
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        working-directory: frontend
        run: npm i
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          build: npm run build
          start: npm start
          wait-on: 'http://localhost:3000'  
          wait-on-timeout: 60
